<div class="row d-flex">
  <div class="col-md-7 custom-display mt-3" *ngFor="let foto of fotos" (click)="mostrarFoto(foto._id)">
    <div class="card sombra" style="cursor: pointer">
        <!-- <div class="card-body">
          <h5 class="card-title">
            <a [routerLink]="['/perfil', user._id]" routerLinkActive="router-link-active">
              {{user.name}} {{user.surname}}
            </a>
          </h5>
        </div> -->
      <img [src]="foto.ruta" alt="" class="card-img-top">

      <div class="card-body">
        <h4 class="d-flex justify-content-start">{{foto.nombre}}</h4>
      </div>

      <div class="card-footer">
          <i class="fa fa-heart"></i> {{foto.likes}}
          <i class="fa fa-eye ml-3"></i> {{foto.views}}
      </div>
    </div>
  </div>
</div>
