<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand custom-brand" href="#">Travelers</a>

  <form class="form-inline my-2 my-lg-0 ml-4 custom-form" *ngIf="auth.loggedin()">
    <input class="form-control mr-sm-2 shadow custom-input" type="text" placeholder="Search" #termino />
    <button class="btn my-2 my-sm-0 custom-search-icon shadow" 
      type="submit" (click)="search(termino.value)"
    >
      <i class="fa fa-search"></i>
    </button>
  </form>

  <button class="navbar-toggler custom-toggle shadow"
   type="button" data-toggle="collapse" data-target="#navbarColor02"
   aria-controls="navbarColor02" aria-expanded="false" 
   aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item custom-anchor" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['contenido']" 
          routerLinkActive="router-link-active" *ngIf="auth.loggedin()"
        >
          <i class="fa fa-home"></i>
          Inicio
        </a>
      </li>
      <li class="custom-anchor nav-item" routerLinkActive="active">
        <a class="nav-link custom-link" [routerLink]="['login']" *ngIf="!auth.loggedin()">
          <i class="fa fa-sign-in-alt"></i>
          Log In
        </a>
      </li>
      <li class="custom-anchor nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['registrar']" *ngIf="!auth.loggedin()">
          <i class="fa fa-user-plus"></i>
          Register
        </a>
      </li>
      <li class="nav-item dropdown custom-anchor">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" *ngIf="auth.loggedin()">
          <i class="fa fa-user"></i>
          {{nombre}}
          {{apellido}}
        </a>
        <div class="dropdown-menu custom-anchor" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['perfil']" routerLinkActive="router-link-active">
            <i class="fa fa-user-circle"></i>
            Mi Perfil
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['albumes']">
            <i class="fa fa-images"></i>
            Mis albumes
          </a>
          <a class="dropdown-item" [routerLink]="['fotos']" routerLinkActive="router-link-active">
            <i class="fa fa-image"></i>
            Mis Fotos
          </a>
          <a class="dropdown-item" [routerLink]="['favoritas']" routerLinkActive="router-link-active">
            <i class="fa fa-image"></i>
            Imagenes que me gustan
          </a>
          <a class="dropdown-item" [routerLink]="['pagina']" routerLinkActive="router-link-active">
            <i class="fas fa-building"></i>
            Crear una página
          </a>
          <a class="dropdown-item" (click)="auth.logout()" style="cursor: pointer" *ngIf="auth.loggedin()">
            <i class="fa fa-sign-out-alt"></i>
            Cerrar Sesión
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
